// For Header
//  GEOMETRY SOFT PRO
//  NOTCOURIERSANS

// For portfolio
//   GENIUS   Not free

// For the rest
//  BONVENOCF
//  CAPSUULA

@font-face {
    font-family: 'notcouriersansregular';
    src: url('../font_styles/notcouriersans_regular_english/NotCourierSans-webfont.eot');
    src: url('../font_styles/notcouriersans_regular_english/NotCourierSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font_styles/notcouriersans_regular_english/NotCourierSans-webfont.woff') format('woff'),
         url('../font_styles/notcouriersans_regular_english/NotCourierSans-webfont.ttf') format('truetype'),
         url('../font_styles/notcouriersans_regular_english/NotCourierSans-webfont.svg#notcouriersansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bonvenocflight';
    src: url('../font_styles/bonvenocf_light_english/BonvenoCF-Light-webfont.eot');
    src: url('../font_styles/bonvenocf_light_english/BonvenoCF-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font_styles/bonvenocf_light_english/BonvenoCF-Light-webfont.woff') format('woff'),
         url('../font_styles/bonvenocf_light_english/BonvenoCF-Light-webfont.ttf') format('truetype'),
         url('../font_styles/bonvenocf_light_english/BonvenoCF-Light-webfont.svg#bonvenocflight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cantarellregular';
    src: url('../font_styles/cantarell_regular_macroman/Cantarell-Regular-webfont.eot');
    src: url('../font_styles/cantarell_regular_macroman/Cantarell-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font_styles/cantarell_regular_macroman/Cantarell-Regular-webfont.woff') format('woff'),
         url('../font_styles/cantarell_regular_macroman/Cantarell-Regular-webfont.ttf') format('truetype'),
         url('../font_styles/cantarell_regular_macroman/Cantarell-Regular-webfont.svg#cantarellregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../font_styles/opensans_regular_macroman/OpenSans-Regular-webfont.eot');
    src: url('../font_styles/opensans_regular_macroman/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font_styles/opensans_regular_macroman/OpenSans-Regular-webfont.woff') format('woff'),
         url('../font_styles/opensans_regular_macroman/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../font_styles/opensans_regular_macroman/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}






