/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@font-face {
  font-family: 'notcouriersansregular';
  src: url("../font_styles/notcouriersans_regular_english/NotCourierSans-webfont.eot");
  src: url("../font_styles/notcouriersans_regular_english/NotCourierSans-webfont.eot?#iefix") format("embedded-opentype"), url("../font_styles/notcouriersans_regular_english/NotCourierSans-webfont.woff") format("woff"), url("../font_styles/notcouriersans_regular_english/NotCourierSans-webfont.ttf") format("truetype"), url("../font_styles/notcouriersans_regular_english/NotCourierSans-webfont.svg#notcouriersansregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'bonvenocflight';
  src: url("../font_styles/bonvenocf_light_english/BonvenoCF-Light-webfont.eot");
  src: url("../font_styles/bonvenocf_light_english/BonvenoCF-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../font_styles/bonvenocf_light_english/BonvenoCF-Light-webfont.woff") format("woff"), url("../font_styles/bonvenocf_light_english/BonvenoCF-Light-webfont.ttf") format("truetype"), url("../font_styles/bonvenocf_light_english/BonvenoCF-Light-webfont.svg#bonvenocflight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'cantarellregular';
  src: url("../font_styles/cantarell_regular_macroman/Cantarell-Regular-webfont.eot");
  src: url("../font_styles/cantarell_regular_macroman/Cantarell-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../font_styles/cantarell_regular_macroman/Cantarell-Regular-webfont.woff") format("woff"), url("../font_styles/cantarell_regular_macroman/Cantarell-Regular-webfont.ttf") format("truetype"), url("../font_styles/cantarell_regular_macroman/Cantarell-Regular-webfont.svg#cantarellregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sansregular';
  src: url("../font_styles/opensans_regular_macroman/OpenSans-Regular-webfont.eot");
  src: url("../font_styles/opensans_regular_macroman/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../font_styles/opensans_regular_macroman/OpenSans-Regular-webfont.woff") format("woff"), url("../font_styles/opensans_regular_macroman/OpenSans-Regular-webfont.ttf") format("truetype"), url("../font_styles/opensans_regular_macroman/OpenSans-Regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal; }
/*This are the values to change the pictures appareance*/
body {
  background-color: #ffffff;
  font-family: 'bonvenocflight';
  height: 100%;
  margin: 0;
  padding: 0; }

@-webkit-keyframes appear_1 {
  from {
    opacity: 0.0; }
  to {
    opacity: 1.0; } }
@-webkit-keyframes appear_2 {
  from {
    opacity: 0.0; }
  to {
    opacity: 0.01; } }
@-webkit-keyframes appear_3 {
  from {
    transform: rotateY(90deg); }
  to {
    transform: rotateY(0deg); } }
@-webkit-keyframes appear_4 {
  from {
    opacity: 0.0; }
  to {
    opacity: 0.6; } }
#start_screen {
  height: auto;
  margin: 0; }
  #start_screen #start {
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #E5E5E5; }
    #start_screen #start #block_01 {
      text-align: center;
      padding-bottom: 0px; }
      #start_screen #start #block_01 #round {
        -webkit-animation-name: appear_1;
        -webkit-animation-duration: 2s;
        -webkit-animation-delay: 0s;
        display: inline-block;
        position: relative;
        margin: 0px;
        margin-top: 5%;
        width: 150px;
        height: 150px;
        border-radius: 150px 150px 150px 150px;
        -moz-border-radius: 150px 150px 150px 150px;
        -webkit-border-radius: 150px 150px 150px 150px;
        border: 2px solid #FF8000; }
        #start_screen #start #block_01 #round #stamp {
          max-height: 150px;
          max-width: 150px;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto; }
      #start_screen #start #block_01 #intro {
        margin-top: 100px;
        text-align: center;
        font-family: 'notcouriersansregular';
        font-size: 2.6em;
        text-decoration: none;
        text-transform: uppercase;
        color: #FF8000; }
        #start_screen #start #block_01 #intro #text_1 {
          letter-spacing: 0.4em;
          margin-bottom: 4px;
          -webkit-animation-name: appear_1;
          -webkit-animation-duration: 2s;
          -webkit-animation-delay: 0s; }
        #start_screen #start #block_01 #intro #text_2 {
          margin-top: 40px;
          position: relative;
          -webkit-animation-name: appear_2;
          -webkit-animation-duration: 1s;
          -webkit-animation-delay: 0s; }
          #start_screen #start #block_01 #intro #text_2 div {
            display: inline;
            position: relative;
            -webkit-animation-name: appear_3;
            -webkit-animation-duration: 1.2s;
            -webkit-animation-delay: 1s; }
    #start_screen #start #arrow_01 {
      display: block;
      margin-left: auto;
      margin-right: auto;
      opacity: 0.6;
      margin-top: 100px;
      -webkit-animation-name: appear_4;
      -webkit-animation-duration: 2s;
      -webkit-animation-delay: 0s; }
    #start_screen #start #paragraph_01 {
      padding-bottom: 10px;
      opacity: 0.0;
      padding-top: 10px;
      text-align: center;
      margin-top: 10%; }
      #start_screen #start #paragraph_01 p {
        letter-spacing: 0.1em;
        font-style: normal;
        text-align: center;
        font-size: 1.6em;
        margin-left: 13%;
        margin-right: 13%;
        color: #332F3E; }

#myama {
  background-color: #FFFFFF;
  margin-top: 800px;
  width: 1033px;
  margin-left: auto;
  margin-right: auto; }
  #myama #portfolio {
    padding-bottom: 20px;
    position: relative; }
    #myama #portfolio #portfolio_title {
      padding-bottom: 25px;
      padding-top: 25px;
      margin-left: 20px;
      margin-right: 20px;
      text-align: center;
      text-decoration: none;
      border: 2px solid #E6C973;
      color: #E6C973;
      font-size: 2em;
      letter-spacing: 3px;
      text-transform: uppercase;
      margin-bottom: 50px; }
    #myama #portfolio #jobs_container {
      width: 588px;
      position: relative;
      margin-left: auto;
      margin-right: auto; }
      #myama #portfolio #jobs_container .jobs {
        height: 250px;
        width: 250px;
        display: inline-block;
        margin: 20px;
        padding: 0px; }
        #myama #portfolio #jobs_container .jobs .back {
          background-color: white;
          position: absolute;
          width: 250px;
          height: 250px;
          border-radius: 250px;
          -moz-border-radius: 250px;
          -webkit-border-radius: 250px;
          -moz-transition: all 0.6s ease-out;
          /* FF4+ */
          -o-transition: all 0.6s ease-out;
          /* Opera 10.5+ */
          -webkit-transition: all 0.6s ease-out;
          /* Saf3.2+, Chrome */
          -ms-transition: all 0.6s ease-out;
          /* IE10? */
          transition: all 0.6Ss ease-out; }
          #myama #portfolio #jobs_container .jobs .back img {
            max-height: 250px;
            max-width: 250px;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            opacity: 1;
            -moz-transition: all 0.35s ease-out;
            /* FF4+ */
            -o-transition: all 0.35s ease-out;
            /* Opera 10.5+ */
            -webkit-transition: all 0.35s ease-out;
            /* Saf3.2+, Chrome */
            -ms-transition: all 0.35s ease-out;
            /* IE10? */
            transition: all 0.35s ease-out;
            -moz-transition: scale(1);
            -o-transform: scale(1);
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1); }
          #myama #portfolio #jobs_container .jobs .back .type {
            text-align: center;
            margin-top: 10px;
            color: #4DB788;
            opacity: 1;
            font-size: 1.3em;
            -moz-transition: all 0.35s ease-out;
            /* FF4+ */
            -o-transition: all 0.35s ease-out;
            /* Opera 10.5+ */
            -webkit-transition: all 0.35s ease-out;
            /* Saf3.2+, Chrome */
            -ms-transition: all 0.35s ease-out;
            /* IE10? */
            transition: all 0.35s ease-out;
            -moz-transform: scale(1.1);
            -o-transform: scale(1.1);
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1); }
          #myama #portfolio #jobs_container .jobs .back .name {
            cursor: pointer;
            text-align: center;
            border: 2px solid white;
            color: white;
            margin-left: 44px;
            margin-right: 44px;
            margin-top: 230px;
            padding: 3px;
            opacity: 0;
            border-radius: 5px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-transition: all 0.35s ease-out;
            /* FF4+ */
            -o-transition: all 0.35s ease-out;
            /* Opera 10.5+ */
            -webkit-transition: all 0.35s ease-out;
            /* Saf3.2+, Chrome */
            -ms-transition: all 0.35s ease-out;
            /* IE10? */
            transition: all 0.35s ease-out;
            -moz-transform: scale(1.1);
            -o-transform: scale(1.1);
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1); }
          #myama #portfolio #jobs_container .jobs .back:hover {
            border-radius: 30px;
            -moz-border-radius: 30px;
            -webkit-border-radius: 30px;
            background-color: #E6C973; }
          #myama #portfolio #jobs_container .jobs .back:hover img {
            -moz-transform: scale(0.7) translateY(-50px);
            -o-transform: scale(0.7) translateY(-50px);
            -webkit-transform: scale(0.7) translateY(-50px);
            -ms-transform: scale(0.7) translateY(-50px);
            transform: scale(0.7) translateY(-50px); }
          #myama #portfolio #jobs_container .jobs .back:hover .type {
            -moz-transform: translateY(-5px) scale(1);
            -o-transform: translateY(-5px) scale(1);
            -webkit-transform: translateY(-5px) scale(1);
            -ms-transform: translateY(-5px) scale(1);
            transform: translateY(-5px) scale(1);
            opacity: 0; }
          #myama #portfolio #jobs_container .jobs .back:hover .name {
            -moz-transform: translate3d(0, -80px, 0) scale(1.2);
            -o-transform: translate3d(0, -80px, 0) scale(1.2);
            -webkit-transform: translate3d(0, -80px, 0) scale(1.2);
            -ms-transform: translate3d(0, -80px, 0) scale(1.2);
            transform: translate3d(0, -80px, 0) scale(1.2);
            opacity: 1; }
  #myama #pictures {
    margin-top: 70px;
    padding-top: 10px;
    padding-bottom: 30px;
    -moz-transition: all 0.75s ease-out;
    /* FF4+ */
    -o-transition: all 0.75s ease-out;
    /* Opera 10.5+ */
    -webkit-transition: all 0.75s ease-out;
    /* Saf3.2+, Chrome */
    -ms-transition: all 0.75s ease-out;
    /* IE10? */
    transition: all 0.75s ease-out; }
    #myama #pictures:hover {
      background-color: #80C8B5; }
    #myama #pictures:hover #pictures_title {
      border: 2px solid white;
      color: white; }
    #myama #pictures:hover #imageslist .image {
      border: 2px solid #80C8B5; }
    #myama #pictures #pictures_title {
      padding-bottom: 25px;
      padding-top: 25px;
      margin-left: 20px;
      margin-right: 20px;
      text-align: center;
      text-decoration: none;
      border: 2px solid #80C8B5;
      color: #80C8B5;
      font-size: 2em;
      letter-spacing: 3px;
      text-transform: uppercase;
      margin-bottom: 50px; }
    #myama #pictures #imageslist {
      text-align: center;
      padding-left: 200px;
      padding-right: 200px; }
      #myama #pictures #imageslist .image {
        display: inline-block;
        margin: 0px;
        height: 230px;
        width: 230px;
        border: 1px solid red;
        position: relative;
        border: 2px solid #FFFFFF;
        -moz-transition: all 0.35s ease-out;
        /* FF4+ */
        -o-transition: all 0.35s ease-out;
        /* Opera 10.5+ */
        -webkit-transition: all 0.35s ease-out;
        /* Saf3.2+, Chrome */
        -ms-transition: all 0.35s ease-out;
        /* IE10? */
        transition: all 0.35s ease-out; }
        #myama #pictures #imageslist .image:hover {
          border: 2px solid #FFFFFF; }
        #myama #pictures #imageslist .image .color {
          max-height: 230px;
          max-width: 230px;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          -webkit-filter: grayscale(0.7) sepia(0.2) saturate(0.9) hue-rotate(96deg) invert(0) opacity(0.8) brightness(0.8) contrast(1.9) blur(1px);
          filter: grayscale(0.7) sepia(0.2) saturate(0.9) hue-rotate(96deg) invert(0) opacity(0.8) brightness(0.8) contrast(1.9) blur(1px);
          -moz-filter: grayscale(0.7) sepia(0.2) saturate(0.9) hue-rotate(96deg) invert(0) opacity(0.8) brightness(0.8) contrast(1.9) blur(1px);
          -ms-filter: grayscale(0.7) sepia(0.2) saturate(0.9) hue-rotate(96deg) invert(0) opacity(0.8) brightness(0.8) contrast(1.9) blur(1px);
          transition: 0.6s filter linear;
          -webkit-transition: 0.6s -webkit-filter linear;
          -moz-transition: 0.6s -moz-filter linear;
          -ms-transition: 0.6s -ms-filter linear;
          -o-transition: 0.6s -o-filter linear; }
          #myama #pictures #imageslist .image .color:hover {
            -webkit-filter: grayscale(0.3) sepia(0.5) saturate(1) hue-rotate(0deg) invert(0) opacity(1) brightness(1) contrast(1) blur(0px);
            filter: grayscale(0.3) sepia(0.5) saturate(1) hue-rotate(0deg) invert(0) opacity(1) brightness(1) contrast(1) blur(0px);
            -moz-filter: grayscale(0.3) sepia(0.5) saturate(1) hue-rotate(0deg) invert(0) opacity(1) brightness(1) contrast(1) blur(0px);
            -ms-filter: grayscale(0.3) sepia(0.5) saturate(1) hue-rotate(0deg) invert(0) opacity(1) brightness(1) contrast(1) blur(0px); }

#skills {
  margin-top: 60px;
  width: 1033px;
  margin-left: auto;
  margin-right: auto; }
  #skills #skills_title {
    padding-bottom: 25px;
    padding-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    text-decoration: none;
    border: 2px solid #80C8B5;
    color: #80C8B5;
    font-size: 2em;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 50px; }
  #skills #skills_table {
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    text-align: center; }
    #skills #skills_table .item {
      font-family: 'cantarellregular';
      list-style-type: none;
      display: inline-block;
      padding-left: 0.5em;
      padding-right: 0.5em;
      width: 250px;
      height: 600px;
      font-size: 0.9em;
      text-decoration: none;
      text-transform: uppercase;
      vertical-align: top;
      opacity: 0.2;
      -webkit-transition: 0.6s opacity linear;
      transition: 0.6s opacity linear; }
      #skills #skills_table .item .up {
        padding-top: 10px;
        text-align: center;
        font-size: 2em;
        color: #80C8B5; }
        #skills #skills_table .item .up hr {
          padding: 0;
          border: none;
          border-top: medium double #80C8B5;
          color: #333;
          text-align: center; }
        #skills #skills_table .item .up hr:after {
          content: "\00a7";
          color: #80C8B5;
          display: inline-block;
          position: relative;
          top: -0.7em;
          font-size: 1.5em;
          padding: 0 0.25em;
          background: white; }
      #skills #skills_table .item .down {
        color: #80C8B5;
        text-align: center; }
      #skills #skills_table .item #item_1, #skills #skills_table .item #item_2, #skills #skills_table .item #item_3 {
        width: 250px;
        height: 600px;
        border: 2px solid #80C8B5; }
      #skills #skills_table .item:hover {
        opacity: 1; }

#education {
  margin-left: auto;
  margin-right: auto;
  background: #E6C973;
  margin-top: 60px;
  padding: 3em;
  text-decoration: none;
  font-size: 0.9em;
  width: 993px; }
  #education #education_title {
    margin-top: 0px;
    text-align: center;
    padding-bottom: 25px;
    padding-top: 25px;
    text-decoration: none;
    border: 2px solid white;
    color: white;
    font-size: 2em;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 50px; }
  #education #education_table {
    margin-left: 30%;
    color: #ffffff;
    font-size: 1.1em;
    font-weight: bold; }
    #education #education_table .item p {
      line-height: 70%; }
    #education #education_table .item hr {
      padding: 0;
      border: none;
      border-top: 2px solid white; }
    #education #education_table .item .name {
      color: #332F3E;
      text-transform: uppercase; }
    #education #education_table .item .subject {
      color: white;
      text-transform: uppercase; }
    #education #education_table .item .address:link {
      color: white;
      text-decoration: none; }
    #education #education_table .item .address:visited {
      text-decoration: none;
      color: #1B4255; }
    #education #education_table .item .address:hover {
      text-decoration: none;
      color: #74B5D5; }

#employment {
  margin-left: auto;
  margin-right: auto;
  background: white;
  margin-top: 60px;
  padding: 3em;
  text-decoration: none;
  font-size: 0.9em;
  width: 993px; }
  #employment #employment_title {
    margin-top: 0px;
    text-align: center;
    padding-bottom: 25px;
    padding-top: 25px;
    text-decoration: none;
    border: 2px solid #4DB788;
    color: #4DB788;
    font-size: 2em;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 20px; }
  #employment #employment_table {
    margin-left: 30%;
    padding: 20px;
    color: #4DB788;
    background: white;
    font-size: 1.1em;
    font-weight: bold; }
    #employment #employment_table .name {
      color: #332F3E;
      text-transform: uppercase; }
    #employment #employment_table .address:link {
      color: #4DB788;
      text-decoration: none; }
    #employment #employment_table .address:visited {
      text-decoration: none;
      color: #4DB788; }
    #employment #employment_table .address:hover {
      text-decoration: none;
      color: #8BD7F2; }

#contact {
  background-image: url(../images/photo_2.jpg);
  background-position: top left;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center; }
  #contact #capa {
    background-color: rgba(77, 183, 136, 0.7);
    padding-top: 4em; }
    #contact #capa #form_title {
      text-decoration: none;
      font-size: 3.1em;
      letter-spacing: 2px;
      color: white;
      text-decoration: none; }
    #contact #capa #form {
      margin-left: auto;
      margin-right: auto;
      width: 543px;
      padding: 30px;
      overflow: hidden;
      margin-bottom: 0px; }
      #contact #capa #form *::-webkit-input-placeholder {
        color: white;
        font-size: 1em; }
      #contact #capa #form *:-moz-placeholder {
        color: white;
        font-size: 1em; }
      #contact #capa #form *::-moz-placeholder {
        color: white;
        font-size: 1em; }
      #contact #capa #form *:-ms-input-placeholder {
        color: white;
        font-size: 1em; }
      #contact #capa #form textarea {
        background: rgba(255, 255, 255, 0.1) url(../images/gemicon_message.png) no-repeat scroll 16px 16px;
        width: 476px;
        height: 150px;
        border: 1px solid #ffffff;
        display: block;
        font-size: 1.1em;
        color: #FFFFFF;
        padding-left: 45px;
        padding-right: 20px;
        padding-top: 12px;
        margin-bottom: 20px;
        overflow: hidden; }
      #contact #capa #form input {
        width: 476px;
        height: 48px;
        border: 1px solid #ffffff;
        display: block;
        font-size: 1.1em;
        color: #FFFFFF;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 20px; }
      #contact #capa #form input[type=submit] {
        cursor: pointer; }
      #contact #capa #form input.name {
        background: rgba(255, 255, 255, 0.1) url(../images/gemicon_name.png) no-repeat scroll 16px 16px;
        padding-left: 45px; }
      #contact #capa #form input.email {
        background: rgba(255, 255, 255, 0.1) url(../images/gemicon_email.png) no-repeat scroll 16px 20px;
        padding-left: 45px; }
      #contact #capa #form input.btn {
        width: 542px;
        background: rgba(255, 162, 0, 0.1) no-repeat scroll 16px 16px;
        padding-left: 45px;
        color: #E6C973;
        letter-spacing: 6px;
        font-size: 1.5em;
        border: 1px solid #E6C973; }

#footer {
  background: #4DB788;
  padding-bottom: 1em;
  color: white;
  font-size: 1.1em; }
  #footer #footer_table {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-top: 30px;
    text-align: center; }
    #footer #footer_table .item1 {
      list-style-type: none;
      display: inline-block;
      width: 45%;
      margin-right: 0%;
      margin-left: 0%;
      line-height: 150%;
      text-align: left;
      text-decoration: none;
      text-transform: capitalize;
      vertical-align: top; }
    #footer #footer_table .item2 {
      list-style-type: none;
      display: inline-block;
      width: 50%;
      margin-left: 0%;
      text-decoration: none;
      text-transform: uppercase;
      vertical-align: top; }
      #footer #footer_table .item2 #links {
        text-align: left;
        height: 100px; }
        #footer #footer_table .item2 #links .contact_item {
          overflow: hidden;
          float: left;
          position: relative;
          display: block;
          width: 150px;
          height: 100px; }
          #footer #footer_table .item2 #links .contact_item img {
            position: absolute;
            opacity: 1;
            -moz-transition: all 0.2s ease-out;
            /* FF4+ */
            -o-transition: all 0.2s ease-out;
            /* Opera 10.5+ */
            -webkit-transition: all 0.2s ease-out;
            /* Saf3.2+, Chrome */
            -ms-transition: all 0.2s ease-out;
            /* IE10? */
            transition: all 0.2s ease-out; }
            #footer #footer_table .item2 #links .contact_item img:hover {
              opacity: 0; }
      #footer #footer_table .item2 #line_div {
        border: 0;
        height: 2px;
        background: white; }
      #footer #footer_table .item2 #download_2 {
        pading-left: 15px;
        font-size: 0.9em;
        text-decoration: none;
        text-transform: uppercase;
        text-align: right;
        color: white; }
  #footer #last_line {
    margin-top: 5px;
    border: 0;
    height: 2px;
    background-image: -webkit-linear-gradient(left, #4DB788, white, #4DB788); }
  #footer #last_message {
    font-size: 0.8em;
    text-decoration: none;
    text-align: center; }

#element_1, #element_2, #element_3, #element_4, #element_5, #element_6, #element_7, #element_8 {
  background-color: #fff;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  color: #000;
  display: none;
  padding: 20px;
  min-width: 400px;
  min-height: 180px; }

.b-close {
  font-size: 2em;
  width: 5px;
  cursor: pointer;
  position: absolute;
  right: 45px;
  top: 2px; }
  .b-close img {
    position: absolute; }
    .b-close img .exit {
      opacity: 1.0; }
  .b-close:hover .exit {
    opacity: 0.0; }

#confirm {
  background-color: #fff;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  color: #000;
  display: none;
  padding: 20px;
  min-width: 50%;
  text-align: center; }

.mobile_content, .tablet_content, .web_content, .electro_content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center; }

.mobile_imgs_1, .mobile_imgs_2, .mobile_imgs_7, .mobile_imgs_8 {
  float: left;
  position: relative;
  width: 250px;
  height: 400px; }
  .mobile_imgs_1 img, .mobile_imgs_2 img, .mobile_imgs_7 img, .mobile_imgs_8 img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }

.tablet_imgs_1, .web_imgs_1, .web_imgs_2, .electro_imgs_1 {
  float: left;
  position: relative;
  width: 600px;
  height: 400px; }
  .tablet_imgs_1 img, .web_imgs_1 img, .web_imgs_2 img, .electro_imgs_1 img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }

.mobile_text {
  background-color: #DFDFDF;
  float: right;
  width: 300px;
  padding: 10px;
  margin-right: 15px;
  -webkit-box-shadow: 11px 10px 14px -7px #6e6b6e;
  -moz-box-shadow: 11px 10px 14px -7px #6e6b6e;
  box-shadow: 11px 10px 14px -7px #6e6b6e; }
  .mobile_text .head .name {
    font-size: 1.4em;
    color: #332F3E; }
  .mobile_text .head .link:link {
    color: #80C8B5;
    text-decoration: none; }
  .mobile_text .head .link:visited {
    text-decoration: none;
    color: #1B4255; }
  .mobile_text .head .link:hover {
    text-decoration: none;
    color: #74B5D5; }
  .mobile_text .description .title {
    margin-bottom: 0px;
    color: #4DB788;
    font-size: 1.4em; }
  .mobile_text .description .text {
    border-top: 2px solid #4DB788;
    margin-top: 0px; }

/*# sourceMappingURL=screen.css.map */
